h1 {
    color: red;
}

div#sign-in, div#sign-up {
    text-align: center;
}

div#sign-in, div#sign-up form {
    direction: ltr;
    border: inset;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
}

div#sign-in button {
    margin-top: 5px;
}

div#sign-up textarea{
    margin-top: 10px;
}