*{
    text-align: center;
}
h1 {
    color: red;
}

ul {
    background-color: springgreen;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    font-size: 30px;
}

li {
    padding: 0 40px;
    list-style: none;
    float: left;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}